# ---------------------------------
# Python
# ---------------------------------

__pycache__/
*.pyc
*.pyo
*.pyd

# ---------------------------------
# Virtual Environment
# ---------------------------------

venv312/

# ---------------------------------
# Environment Variables
# ---------------------------------

.env

# ---------------------------------
# Logs
# ---------------------------------

logs/
*.log

# ---------------------------------
# Cache
# ---------------------------------

.cache/
*.db

# ---------------------------------
# AI Generated Runtime Files
# ---------------------------------

generated/runtime/

# ---------------------------------
# VSCode
# ---------------------------------

.vscode/

# ---------------------------------
# OS
# ---------------------------------

.DS_Store
Thumbs.db